.ui.grid.page
  .ui.sixteen.wide.column
    .row
    %h1.ui.center.aligned.header Forgot your password?
    .row
.ui.two.column.stackable.center.aligned.page.grid
  = devise_error_messages!
  .column
    .ui.segment.left.aligned
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'ui form', method: :post }) do |f|
        .field
          .ui.fluid.left.icon.input
            = f.email_field :email, placeholder: 'Email', autofocus: true
            %i.users.icon
        .actions.field
          = f.submit "Send me reset password instructions", class: 'ui fluid button'
        .actions.field
          = render "users/shared/links"
